__pycache__
.env
.env.*
*.wav
test_*.py
node_modules
*.js
package-lock.json
package.json
dist/
.parcel-cache/
db.sqlite3
timed.txt
*.mp4
socky
*.png
*.log
*.log.backup
test*.jpg
test*.jpeg
test*.png
servers.json
